html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

#root {
  width: 100%;
  height: 100%;
}

.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}

.bracket-config-panel {
  width: 250px;
  background-color: #f0f0f0;
  padding: 5px;
}

.bracket-panel {
  flex: 1;
  background-color: #ffffff;
  min-height: 0; /* Important for flex children */
  min-width: 0;
  width: 100%;
  height: 100%;
}

.input-participants {
  width: 100%;
  height: 150px;
}


